@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-clr: #fefce1;
  --main-clr: #7e3035;
  --light-pink-clr: #fd7584;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  display:block;
}

body {
  font-family: "poppins", sans-serif;
  line-height: 1.5;
  background-color: var(--bg-clr);
  overflow-x: hidden;
}

.main-container {
    padding:1rem;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  margin-top:1.2rem;
  color:var(--main-clr);
  font-size: 2rem;
  font-weight: 900;
  text-wrap: nowrap;
}

.social-links-section {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.links-list {
    padding: 1rem;
    list-style-type:none;
    display:flex;
    gap:1rem; 
}

.main-section {
  margin-top:8rem;
  min-height: 80vh;
  display:flex;
  flex-direction:column;
  align-items: center;
  position:relative;
}

.queen-name {
  color:var(--main-clr);
  margin-top: 1rem;
  font-size:8.5rem;
  text-transform: uppercase;
   text-shadow:
   1px 1px 0px var(--main-clr),
   2px 2px 0px var(--light-pink-clr),
   3px 3px 0px #db6472,
   4px 4px 0px #c55a67,
   5px 5px 0px #ac4e59,
   6px 6px 0px #b6515c,
   7px 7px 0px #99434d,
   8px 8px 0px #8d3e47
  ; 
  display: flex;
  transition:all 0.3s ease;
}

.queen-name:hover {
  transform: translate(50px);
}

.queen-name:hover > .name-q::before {
  opacity: 1;
  background-image:url("./imgs/queen-shit2.png ");
  transform:translate(175%,-50%) scale(3.2);
  box-shadow:0px 0px 40px 8px var(--main-clr),;
}

.queen-name:hover > .name-q {
  transform:translateX(-120%);
}

.queen-name:hover > .name-u {
  transform:translate(-70%,103%);
}

.queen-name:hover > .name-e {
  transform: translate(-280%,-85%);
}

.queen-name:hover > .name-e-2 {
  transform: translateY(-78%);
}

.queen-name:hover > .name-n {
  transform:translateX(50%);
}

.name-q {
  display:inline-block;
  position:relative;
}

.name-e,
.name-n {
  transition:all 0.3s ease;
  z-index:-1;
}
.name-q,
.name-e,
.name-e-2,
.name-u {
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.27,1.55);
}

.name-q::before {
  content: "";
  height: 55%;
  width: 106%;
  top:52%;
  left:50%;
  transform: translate(-50%,-50%);
  position:absolute;
  border-radius: 50%;
  background-image: url("./imgs/stupid-queen.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
  z-index: 4;
}

.stupid-queen {
  margin:0 10rem 0 auto;
  color:var(--light-pink-clr);
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
  z-index:2;
}

.rose {
  position: absolute;
  color: var(--main-clr);
}

.parg-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  min-height: 70vh;
  /* background-color: green; */
}

.parg-rose {
  transform: rotate(-20deg);
  margin-bottom: 5rem;
  width: 30%;
}

.parg-title {
  color: var(--main-clr);
  text-transform: uppercase;
  font-size: 2rem;
}

.parg {
  margin-top: 5rem;
  margin-bottom: 6rem;
  line-height: 1.8;
  font-size: 1.2rem;
  text-align: center;
  text-transform:capitalize;
}

.pics-section {
  min-height:80vh;
  padding:1rem;
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  gap:0rem 4rem;
}

.pics-container {
  padding:1rem 0rem;
  display:flex;
  flex:1;
  flex-direction: column;
  align-items:center; 
  background:linear-gradient(45deg, var(--main-clr) 25%, transparent 25%) 0% 0% / 3em 3em, linear-gradient(315deg, var(--main-clr) 25%, transparent 25%) 0% 0% / 3em 3em ,linear-gradient(45deg, transparent 24%,var(--light-pink-clr) 25%, var(--light-pink-clr) 30%, transparent 31%, transparent 39%,var(--light-pink-clr) 40%, var(--light-pink-clr) 45%, transparent 45%) 0% 0% / 3em 3em,linear-gradient(315deg, transparent 24%,var(--light-pink-clr) 25%, var(--light-pink-clr) 30%, transparent 31%, transparent 39%,var(--light-pink-clr) 40%, var(--light-pink-clr) 45%, transparent 45%) 0% 0% / 3em 3em var(--main-clr);
  background-size: 58px 58px;
  border-radius: 10px;
  gap:1rem;
  position:relative;
  transition:all 0.3s ease;
}

.pics-container::before {
  content: "";
  height: 130px;
  width: 100px;
  background:rgb(255, 184, 54);
  mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
  position: absolute;
  top:-14%;
  left:-8%;
  transform:scale(0);
  transition:all 0.6s ease;
}

.pics-container::after {
  content: "";
  height: 130px;
  width: 100px;
  background:rgb(255, 184, 54);
  mask: radial-gradient(#0000 71%, #000 72%) 10000% 10000%/99.5% 99.5%;
  position: absolute;
  bottom:-14%;
  right:-10%;
  transform:scale(0);
  transition:all 0.6s ease;
}

.pics-container:hover > .pics-container__image {
  height:17.625rem;
  width: 17.625rem;
  box-shadow:
   0px 0px 0px 4px var(--light-pink-clr),
   0px 0px 0px 8px var(--main-clr),
   0px 0px 0px 12px var(--light-pink-clr),
   0px 0px 0px 16px var(--main-clr),
   0px 0px 0px 20px var(--light-pink-clr)
   ; 
  transform:translate(2.5rem,-5rem) rotate(20deg);
}

.pics-container:hover > .pics-container__text {
  color:var(--bg-clr);
  text-shadow:
   1px 1px 0px #7e3035,
   2px 2px 0px #742c30, 
   3px 3px 0px #662629,
   4px 4px 0px #572023 ,
   5px 5px 0px #44191b 
   ;
}

.pics-container:hover.pics-container::before {
  transform: scale(1);
}

.pics-container:hover.pics-container::after {
  transform: scale(1);
}

.pics-container:hover {
    margin:3.5rem 0rem;
    background:linear-gradient(45deg, var(--light-pink-clr) 25%, transparent 25%) 0% 0% / 3em 3em, linear-gradient(315deg, var(--light-pink-clr) 25%, transparent 25%) 0% 0% / 3em 3em ,linear-gradient(45deg, transparent 24%,var(--main-clr) 25%, var(--main-clr) 30%, transparent 31%, transparent 39%,var(--main-clr) 40%, var(--main-clr) 45%, transparent 45%) 0% 0% / 3em 3em,linear-gradient(315deg, transparent 24%,var(--main-clr) 25%, var(--main-clr) 30%, transparent 31%, transparent 39%,var(--main-clr) 40%, var(--main-clr) 45%, transparent 45%) 0% 0% / 3em 3em var(--light-pink-clr);
}

@media screen and (min-width:67.5rem){
  .pics-container:hover {
    margin:0rem;
  }
}

.pics-container__image {
  height: 0; 
  width: 0;
  border-radius:30px;
  box-shadow:none;
  transition:all 0.6s cubic-bezier(0.68,-0.55,0.27,1.55);;
}

.pics-container__text { 
  --s: 1.8em; /* the ribbon size */
  --d: .8em;  /* the depth */
  --c: .8em;  /* the cutout part */
  
  padding: 0 calc(var(--s) + .5em) var(--d);
  line-height: 1.8;
  background:
    conic-gradient(at left  var(--s) bottom var(--d),
     #0000 25%,#0008 0 37.5%,#0004 0) 0   /50% 100% no-repeat,
    conic-gradient(at right var(--s) bottom var(--d),
     #0004 62.5%,#0008 0 75%,#0000 0) 100%/50% 100% no-repeat;
  clip-path: polygon(0 var(--d), var(--s) var(--d),var(--s) 0,calc(100% - var(--s)) 0,calc(100% - var(--s)) var(--d),100% var(--d),calc(100% - var(--c)) calc(50% + var(--d)/2),100% 100%,calc(100% - var(--s) - var(--d)) 100%,calc(100% - var(--s) - var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) calc(100% - var(--d)),calc(var(--s) + var(--d)) 100%,0 100%,var(--c) calc(50% + var(--d)/2));

  color:var(--main-clr); 
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  text-shadow:
   1px 1px 0px #f7abb6,
   2px 2px 0px #e49ea8,
   3px 3px 0px #d3919b,
   4px 4px 0px #c48790,
   5px 5px 0px #b17982
   ;
  font-weight:900;
  background-color:rgb(255, 184, 54);
  transition: all 0.3s ease;
}
